.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.button:hover {
    animation: rainbow 5s infinite;
    background-color: #45a049;
}

/* Анімація */
@keyframes rainbow {
    0% {
        background-color: #4CAF50;
    }
    20% {
        background-color: #ff7f00;
    }
    40% {
        background-color: #0000ff;
    }
    60% {
        background-color: #00ff00;
    }
    80% {
        background-color: #ffa500;
    }
    100% {
        background-color: #4CAF50;
    }
}
.button:active {
    background-color: #3e8e41; 
}
div.container {
    width: 1500px;
    height: 1000px;
    background-color: blue;
}

div.header {
    width: 600px;
    height: 50px;
    background-color: purple;
}

div.navigation {
    width: 610px;
    height: 30px;
    background-color: yellow;
}

div.content {
    width: 1300px;
    height: 500px;
    background-color: green;
}

div.footer {
    width: 150px;
    height: 22px;
    background-color: yellow;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 8px 12px; 
    border-radius: 5px;
}

nav ul li a:hover {
    color: #ff0000;
    background-color: #ddd;
}
@media (min-width: 1500px) and (max-width: 2000px){h1{font-size:32px !important}}
@media (min-width: 1000px) and (max-width: 1499.98px){h1{font-size:50px !important}}
@media (min-width: 400px) and (max-width: 999.98px){h1{font-size:72px !important}}-
img {
    width: 50%; /* Замість фіксованого значення в пікселях */
}
h1, h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; /* Жирний шрифт для заголовків */
    text-align: center;
}
#myVideo {
    margin-left: 130px; /* Зміщуємо відео на 50 пікселів вправо */
  }
  #myImage {
    position: relative;
    top: -50px; /* Переміщення на 20 пікселів вверх */
    left: 130px; /* Переміщення на 20 пікселів вправо */
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 230px;
            height: 100%;
            background-image: url('1234.jpg');
            background-size: cover; /* Зображення покриває весь екран */
            background-position: center; /* Центрування зображення */
            background-repeat: no-repeat; /* Заборонити повторення зображення */
            background-attachment: fixed;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; /* Жирний шрифт для заголовків */
    text-align: center;
}
.my-div {
    padding: 20px; /* Відступ 20 пікселів з усіх боків */
}